body {
    background-color: rgb(28, 27, 31);
    display: grid;
    grid-template-rows:stretch stretch stretch;
    padding: 0%;
    margin: 0%;
    
}

p {
    color:whitesmoke ;
    padding: .5em .75em;
    font-size: 11pt;


}

#navbar {
    display: flex;
    justify-content: flex-end;
    grid-row: 1/2;
    height: 60px;
}

#appsicon{
    background-color: transparent;
    height: 30px;
    align-self: center;
    padding: .5em .75em;
}


#centerblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 2/3;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    padding: 12%;
    height: calc(100vh-160px);
    }

#searchcontainer{
    border: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    width: 40%;
    height: 50px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#searchbar{
    background-color: transparent;
    border: none;
    height: 50px;
    flex-basis: 90%;
}

.searchbutton{
    margin: 12px;
    padding: 5px 20px;
    font-size: 13pt;
    color: whitesmoke;
    height: 3em;
    background-color: rgba(137, 137, 167, 0.192);
    
    border-radius: 5px;
    border-width: 1px;
    border-color:black; 
    box-shadow: 5px;    
}

#searchlogo{
    width: 300px;
    height: auto;
}
.break{
    width: 100%;
    height: auto;
}
#lang{
    font-family: sans-serif;
}
#footer{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    grid-row: 3/4;
    justify-content: left;
    background-color: rgb(22, 19, 19);
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: whitesmoke;

}

span:hover{
    text-decoration: underline whitesmoke;
    text-decoration-skip: word-spacing;
}

